body {
  max-width: 80%;
  margin: 30px auto;
  }

.archive-list {
  padding: 30px 20px;
  border-radius: 10px;
  background: #c4ecc1;
  }
.archive-item {
  margin-left: 10px;
  }

.from {
  padding: 30px 20px;
  border-radius: 10px;
  background: #f6ffc2;
  text-align: center;
  }
.from-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px;
  }
.from-input input {
  display: inline-block;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  }
.from-input label {
  display: inline-block;
  border-radius: 4px;
  }

.from-detail {
  margin: 10px;
  padding-top: 20px;
  }

.from-detail span {
  display: inline-block;
  min-width: 300px;
  min-height: 20px;
  padding: 10px;
  background: #ffffff;
  }

button {
  margin: 0 2px;
  padding: 4px 16px;
  border: none;
  border-radius: 8px;
  }
button:hover {
  background-color: #79a8a9;
  color: #ffffff;
  transition: all .3s;
  cursor: pointer;
  }
.total {
  text-align: right;
  }
